div {
    display: inline-block;
    text-align: center;

}

#bildlinks {
    float: left;
}

#bildrechts {
    float: right;
}

.rahmen2 {
    margin: auto;
    width: 50%;
    border: solid black;
}

#rahmen {
    margin: auto;
    width: 50%;
    border: solid black;

}

.gesamt {

    border: darkred solid;
    background-color: green;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
    text-align: center;
}

#box1 {
    width: 80%;
    margin: auto;


}

#box2 {
    width: 48%;
    float:left;

}

#box3 {
    width: 48%;
    float: left;
}

#box4 {
    width: 60%;
    margin: auto;

}